
/* This layout came from http://csseasy.com with very few changes applied. */

a:link {color:#003C70; text-decoration: none;}
a:visited {color:#003C70; text-decoration: none;}
a:hover {color:#003C70; text-decoration: underline;}

body {
	width:800px;
	margin:0 auto;
	margin-top:30px;
	
}

/* ----- HEADER ----- */

#header {
	width:800px;
	height:129px;
	background:url(expenses3.jpg);
	background-repeat: no-repeat;
}

#leftbar {
	background-color:#CDDDED;
	min-height:400px; /* for modern browsers */
	height:auto !important; /* for modern browsers */
	height:400px; /* for IE5.x and IE6 */
	width: 150px;
}

#nav {
	position: relative;
	left: 10px;
	top: 10px;
	font-family: sans-serif;
	font-family: 'arial rounded MT bold';
	font-size: 18pt;
}

input[type="button"],input[type="submit"] {
    -moz-border-radius: 3px 3px 3px 3px;
    background: url("btn_sprite.png") repeat-x scroll right top #E8E8E9;
    border-color: #B5B5B5 #B5B5B5 #7F7F7F;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    font-size: 0.9em;
    font-weight: bold;
    margin: 1px;
    padding: 2px 3px;
}


#app_title {
	position: relative;
	left: 550px;
	top: 85px;
	width: 270px;
	font-family: sans-serif;
	font-family: 'arial rounded MT bold';
	font-size: 24pt;
	color: #003C70;
}

/* ----- NAVIGATION ----- */

#navigation {
	width:800px;
	height:40px;
	background-color:#ffffff;
	margin-top:10px;
	font-family:sans-serif;
}

/* ----- MAIN CONTENT ----- */

#content { 
	width:800px;
	background-color:#ffffff;
	margin-top:0px;
	min-height:400px; /* for modern browsers */
	height:auto !important; /* for modern browsers */
	height:400px; /* for IE5.x and IE6 */
	font-family:sans-serif;
}

/* ----- FOOTER ----- */
#footer { 
	width:800px;
	height:30px;
	background-color:#CDDDED;
	margin-top:10px;
	margin-bottom: 10px;
}

/* ------- TABLE ------ */

table.itemlist {
	width: 640px;
	border-width: 1px;
	border-spacing: ;
	border-style: none;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}

table.itemlist th {
	border-width: 1px;
	padding: 1px;
	border-style: none;
	border-color: white;
	background-color: #003C70;
	color: white;
	-moz-border-radius: ;
}
table.itemlist td {
	border-width: 1px;
	padding: 1px;
	border-style: none;
	border-color: white;
	background-color: white;
	-moz-border-radius: ;
}

/* ---- MISC ---- */

div.ui-datepicker{
 font-size:10px;
}

h3 {
	color: #003C70;
}
.nobr { white-space:nowrap }
